body {
    margin: 0;
    background: #222;
    padding-top: 10%;
    color: white;
}
/* Title */
#welcome{
    text-align: center;
    opacity: 1;
    font-size: 150px;
    font-family: "Times New Roman", Times, serif;
    padding-left: 2%
}
a:hover {
    transform: scale(1.05);
}

nav {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* List Items */
nav li {
    text-align: center;
    display: inline;
}

/* Elements in list */
nav a {
    color: white;
    display:inline-block;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: monospace;
}